@page "/"

@using BFSTables.Data
@using BFSDomain
@inject BFSDataService dataService

<select value="@Value" @onchange="OnValueChanged" class="custom-select custom-select-lg mb-3">
    <option value="">Изберете група...</option>

    <option value="2009A">Футбол 11 - 2009 A</option>
    <option value="2009B">Футбол 11 - 2009 Б</option>
    <option value="2009V">Футбол 11 - 2009 В</option>
    <option value="2009G">Футбол 11 - 2009 Г</option>

    <option value="2010A">Футбол 9 - 2010 A</option>
    <option value="2010B">Футбол 9 - 2010 Б</option>
    <option value="2010V">Футбол 9 - 2010 В</option>
    <option value="2010G">Футбол 9 - 2010 Г</option>

    <option value="2011A">Футбол 7 - 2011 A</option>
    <option value="2011B">Футбол 7 - 2011 Б</option>
    <option value="2011V">Футбол 7 - 2011 В</option>
    <option value="2011G">Футбол 7 - 2011 Г</option>

    <option value="2012A">Футбол 7 - 2012 A</option>
    <option value="2012B">Футбол 7 - 2012 Б</option>
    <option value="2012V">Футбол 7 - 2012 В</option>
    <option value="2012G">Футбол 7 - 2012 Г</option>

    <option value="2013A">Футбол 5 - 2013 A</option>
    <option value="2013B">Футбол 5 - 2013 Б</option>
</select>

@if (Table == null)
{
    if (inProgress)
    {
        <div class="loader">Loading...</div>
    }
}
else
{
    <table class="table table-sm table-striped tableFixHead">
        <thead class="thead-dark">
            <tr>
                <th>Място</th>
                <th>Отбор</th>
                <th>Срещи</th>
                <th>Победи</th>
                <th>Равенства</th>
                <th>Загуби</th>
                <th>ВГ</th>
                <th>ДГ</th>
                <th>ГР</th>
                <th>Точки</th>
            </tr>
        </thead>
        <tbody>
            @{
                int place = 0;
            }

            @foreach (var row in Table.Rows)
            {
                <tr>
                    @{
                        place++;
                    }
                    <td>@place</td>
                    @foreach (var col in row.Columns)
                    {
                        <td>@col</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Table Table;
    private string Value;
    private bool inProgress;

    private async Task OnValueChanged(ChangeEventArgs args)
    {
        inProgress = true;
        Table = null;
        StateHasChanged();

        if (args.Value != null)
        {
            Table = await dataService.GetDataAsync(args.Value.ToString());
        }
    }
}
