@page "/"

@using BFSTables.Data
@using BFSDomain
@inject BFSDataService dataService

<select value="@Value" @onchange="OnValueChanged">
    <option value="">Изберете група...</option>

    <option value="2009A">Футбол 11 - 2009 A</option>
    <option value="2009B">Футбол 11 - 2009 Б</option>
    <option value="2009V">Футбол 11 - 2009 В</option>
    <option value="2009G">Футбол 11 - 2009 Г</option>

    <option value="2010A">Футбол 9 - 2010 A</option>
    <option value="2010B">Футбол 9 - 2010 Б</option>
    <option value="2010V">Футбол 9 - 2010 В</option>
    <option value="2010G">Футбол 9 - 2010 Г</option>

    <option value="2011A">Футбол 7 - 2011 A</option>
    <option value="2011B">Футбол 7 - 2011 Б</option>
    <option value="2011V">Футбол 7 - 2011 В</option>
    <option value="2011G">Футбол 7 - 2011 Г</option>

    <option value="2012A">Футбол 7 - 2012 A</option>
    <option value="2012B">Футбол 7 - 2012 Б</option>
    <option value="2012V">Футбол 7 - 2012 В</option>
    <option value="2012G">Футбол 7 - 2012 Г</option>

    <option value="2013A">Футбол 5 - 2013 A</option>
    <option value="2013B">Футбол 5 - 2013 Б</option>
</select>

@if (Table != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Team</th>
                <th>Played</th>
                <th>Won</th>
                <th>Drawn</th>
                <th>Lost</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Table.Rows)
            {
                <tr>
                    @foreach (var col in row.Columns)
                    {
                        <td>@col</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Table Table;
    private string Value;

    private void OnValueChanged(ChangeEventArgs args)
    {
        if (args.Value != null)
        {
            Table = dataService.GetData(args.Value.ToString());
        }
    }
}
